<!DOCTYPE html>
<html lang="en">
  <head>
    <title>bookStore</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <header>
        <img src="http://localhost:3000/images/open-book.svg" alt="book">
        <h1>
          <a href="/">bookStore</a>
        </h1>
      </header>
      <section>
        <% include partials/header.ejs %>
      </section>
      <section class="book-details-section">
        <div class="book-details">
          <p class="book-title"><%= book.title %></p>
          <p class="book-author"><%= book.author.name %></p>
          <p class="book-tags"><%= book.tags %></p>
        </div>
        <div class="book-description">
          <p><%= book.description %></p>
        </div>
        <form class="book-details-form" action="" method="POST">
          <p>Quantity: </p>
          <input class="book-quantity" name="quantity" type="number" value="1" min="0" >
          <input name="bookId" type="hidden" value="<%= book._id %>" >
          <input class="addcart-btn" type="submit" value="Add to Cart">
        </form>
      </section>
    </main>
  </body>
</html>
