<!DOCTYPE html>
<html lang="en">
  <head>
    <title>altCampus bookStore</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <header>
        <img src="http://localhost:3000/images/open-book.svg" alt="book">
        <h1>
          <a href="/">bookStore</a>
        </h1>
      </header>
      <section>
        <div class="book-container">
          <% books.forEach(book => { %>
            <div class="book">
              <p><span>Title: </span><a href="/books/<%= book._id %>/bookdetails"><%= book.title %></a></p>
              <p><span>Author: </span> <%= book.author.name %></p>
              <!-- <p><span>Description: </span><%= book.description %></p> -->
              <p><span>Tags: </span><%= book.tags %></p>
              <p><span>Likes: </span><%= book.likes %></p>
              <p><span>createdAt: </span><%= book.created %></p>
              <!-- <button><a href="/form/<%= book._id %>/delete">Delete</a></button> -->
              <button><a href="/form/<%= book._id %>/edit">Edit</a></button>
            </div>
          <% }) %>
        </div>

      </section>
      <section class="">
        <footer class="footer">
          <p>Made with &#9829; @ <a href="https://altcampus.io" target="_blank">AltCampus</a>
          </p>
          <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </footer>
      </section>
    </main>
  </body>
</html>
