<!DOCTYPE html>
<html lang="en">
  <head>
    <title>bookStore</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
    <main>
      <header>
        <img src="http://localhost:3000/images/open-book.svg" alt="book">
        <h1>
          <a href="/">bookStore</a>
        </h1>
      </header>
      <section class="user-action-nav">
        <% include partials/header.ejs %>
        <a href="/users/cart"><i class="fas fa-shopping-cart"></i></a>
      </section>
      <section>
        <div class="book-container">
          <% books.forEach(book => { %>
            <div class="book">
              <p><span>Title: </span><a href="/books/<%= book._id %>/bookdetails"><%= book.title %></a></p>
              <p><span>Author: </span> <%= book.author.name %></p>
              <p><span>Tags: </span><%= book.tags %></p>
              <p><span>Likes: </span><%= book.likes %></p>
              <% if(user) { %>
                <a class="btn" href="/books/<%= book._id %>/bookdetails">Buy Now</a>
              <% } %>
            </div>
          <% }) %>
        </div>

      </section>
      <section class="">
        <footer class="footer">
          <p>Made with &#9829; @ <a href="https://altcampus.io" target="_blank">AltCampus</a>
          </p>
          <div>Icons made by 
            <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from 
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by 
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
          </div>
        </footer>
      </section>
    </main>
  </body>
</html>
